<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="getData()" expand="block"  shape="round">
    Get data
  </ion-button>
  <ion-button (click)="clearCache()" expand="block" fill="clear" shape="round">
    Clear cache
  </ion-button>
  <ion-button (click)="clearView()" expand="block" fill="clear" shape="round">
    Clear view
  </ion-button>

  <ion-list>
    <ion-item *ngFor="let image of apiData">
      <ion-thumbnail slot="start">
        <img-loader useImg (load)="onImageLoad($event)" [src]=" 'https://picsum.photos/id/' + image.id +'/100/100'"></img-loader>
      </ion-thumbnail>
      <ion-label>

        <h2>{{image.author}}</h2>
        <a [href]="image.download_url" target="_blank">{{image.download_url}}</a>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
